a {
  color: black;
  text-decoration: none;
  align-items: center;
}

.header__appBar {
    background-color: #A5EBEC;
  justify-content: center;
  position: sticky;
  top: 0;
}

.header__title {
  justify-items: center;
}
