a {
  color: black;
  text-decoration: none;
  align-items: center;
}

.header__appBar {
  height: 60px;
  display: flex;
  background-color: #a5ebec;
  z-index: 100;
  position: sticky;
  top: 0;
}

.header__title {
  justify-items: center;
}
