.hk_weather {
  position: sticky;
  z-index: 80;
}

.weatherBanner_Container {
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  background: royalblue;
}

.weatherBanner_Row {
  display: flex;
  flex: 1;
  padding-top: 5px;
  min-height: 23px;
  align-items: center !important;
}

.weatherBanner_RowTip {
  display: flex;
  flex: 1;
  padding-bottom: 5px;
  font-size: small !important;
  align-items: center !important;
}

.weatherBanner_SpecialWxTips {
  color: yellow;
  width: 100%;
  white-space: nowrap;
}

.weatherBanner_WeatherIcon,
.weatherBanner_WarningIcon {
  padding-right: 5px;
}

.weatherBanner_WeatherIcon > img {
  height: 28px;
  vertical-align: middle;
}

.weatherBanner_WarningIcon > img {
  height: 23px;
  vertical-align: middle;
  padding-right: 3px;
}

.weatherBanner_Temperature,
.weatherBanner_Humidity {
  padding-right: 5px;
  font-weight: 300;
  color: white;
}

.currentTime {
  color: white;
  margin-right: 10px;
}
