.weatherBanner_Container {
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  background: royalblue;
}

.weatherBanner_Row {
  display: flex;
  flex: 1;
  padding-bottom: 5px;
  align-items: center !important;
}

.weatherBanner_SpecialWxTips {
  font-weight: 500;
  font-size: small;
  color: yellow;
}

.weatherBanner_WeatherIcon,
.weatherBanner_WarningIcon {
  padding-right: 5px;
}

.weatherBanner_WeatherIcon > img {
  height: 28px;
  vertical-align: middle;
}

.weatherBanner_WarningIcon > img {
  height: 23px;
  vertical-align: middle;
  padding-right: 3px;
}

.weatherBanner_Temperature,
.weatherBanner_Humidity {
  padding-right: 5px;
  font-size: small;
  font-weight: 300;
  color: white;
}

.currentTime {
  font-size: small;
  color: white;
  margin-right: 10px;
}
