.hktraminfo {
  width: 360px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hkTramInfo_Container {
  width: 90%;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.hkTramInfo_Row {
  display: flex;
  padding-top: 5px;
}

.hkTramInfo_CurrentStop {
  background: #007549;
  width: 100%;
  color: #ffffff;
  font-weight: 500;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.hkTramInfo_TramID {
  text-align: left;
  flex: 30;
}

.hkTramInfo_Dest {
  flex: 70;
}

.hkTramInfo_Dest > span {
  font-size: small;
  font-weight: 300;
}

.hkTramInfo_ETA {
  text-align: right;
  flex: 30;
}

.MuiLinearProgress-root {
  height: 15px;
}
