@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;500&family=Ubuntu);

body {
  margin: 0;
  font-family: "Noto SansHK", "Ubuntu", sans-serif, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
