.lrt {
  display: grid;
  place-items: center;
  height: 100%;
  max-width: 100%;
  font-family: "Noto SansHK", "Ubuntu", serif;
}

.lrt__header {
  margin-top: 5px;
  height: 80px;
  width: 350px;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  place-items: center;
  flex: 1;
  background-color: #02077b;
}

.lrt__logo {
  padding-right: 20px;
}

.lrt__logo > img {
  height: 70px;
}

.lrt__title {
  font-weight: 550;
  font-size: x-large;
  text-align: center;
  color: white;
}

.lrt__topBar {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  width: 350px;
  max-width: 100%;
}

.lrt__topBar2 {
  display: flex;
  width: 350px;
  max-width: 100%;
}

.lrt__info {
  padding-top: 10px;
  display: flex;
  flex: 1;
  width: 360px;
  max-width: 100%;
  margin-bottom: 20px;
}

.stationSelect {
  width: 350px;
  place-items: center;
}

.container {
  display: grid;
  place-items: center;
  max-width: 500px;
  max-width: 100%;
}

.lrt__container {
  padding-top: 10px;
}

.stationSelect {
  width: 100% !important;
}

.zoneSelect {
  width: 50%;
}

.routeSelect {
  width: 50%;
}
