.lrtinfo {
  align-items: center;
  justify-content: center;
}

.infobox {
  width: 360px;
  min-height: 200px;
  height: auto;
}

.lrt__container {
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favouriteBox {
  float: right;
  vertical-align: text-top;
  padding-top: 10px;
  padding-left: 15px;
}

.etaBox {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: left;
  height: 1.5rem;
  padding-bottom: 5px;
}

.etaBox__row {
  padding-right: 4px;
  justify-content: center;
  place-items: center;
  font-weight: 600 !important;
}

.lrtTrain__length {
  width: 36px;
  padding-left: 4px;
  display: flex;
}

.lrtTrain__length > img {
  width: 18px;
  height: 12px;
}

.lrt__route {
  margin-right: 10px;
  width: 50px;
  border-radius: 50px;
}

.lrt__route_505 {
  margin-right: 10px;
  width: 50px;
  border: #db1f26 solid 4px;
  border-radius: 50px;
}

.lrt__route_507 {
  margin-right: 10px;
  width: 50px;
  border: #00a650 solid 4px;
  border-radius: 50px;
}

.lrt__route_610 {
  margin-right: 10px;
  width: 50px;
  border: #431115 solid 4px;
  border-radius: 50px;
}

.lrt__route_610P,
.lrt__route_614 {
  margin-right: 10px;
  width: 50px;
  border: #4dc6f4 solid 4px;
  border-radius: 50px;
}

.lrt__route_614P {
  margin-right: 10px;
  width: 50px;
  border: #f46989 solid 4px;
  border-radius: 50px;
}

.lrt__route_615 {
  margin-right: 10px;
  width: 50px;
  border: #fddd04 solid 4px;
  border-radius: 50px;
}

.lrt__route_615P {
  margin-right: 10px;
  width: 50px;
  border: #215483 solid 4px;
  border-radius: 50px;
}

.lrt__route_705 {
  margin-right: 10px;
  width: 50px;
  border: #64c542 solid 4px;
  border-radius: 50px;
}

.lrt__route_706 {
  margin-right: 10px;
  width: 50px;
  border: #b365b9 solid 4px;
  border-radius: 50px;
}

.lrt__route_751 {
  margin-right: 10px;
  width: 50px;
  border: #f47216 solid 4px;
  border-radius: 50px;
}

.lrt__route_751P {
  margin-right: 10px;
  width: 50px;
  border: #000000 solid 4px;
  border-radius: 50px;
}

.lrtChip_751P {
  background: white;
  border: #000000 solid 4px;
  color: black;
  width: 60px;
}

.lrt__route_761,
.lrt__route_761P {
  margin-right: 10px;
  width: 50px;
  border: #672290 solid 4px;
  border-radius: 50px;
}

.station__platform {
  margin-left: 20px;
  margin-right: 5px;
  background-color: orange;
  color: white;
  width: 20px;
  text-align: center;
  font-weight: 550;
  font-size: larger;
}

.station__name {
  color: white;
}

.station__header {
  width: 100%;
  height: 30px;
  background: darkblue;
  display: flex;
  place-items: center;
}

.etaBox__footer {
  text-align: center;
  font-weight: 300 !important;
  font-size: small;
  background: #fd722d;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  display: flex;
  justify-content: center;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
