@import url(//fonts.googleapis.com/css2?family=Noto+Sans+HK&family=Ubuntu);

.infobox {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  min-width: 360px;
  height: auto;
  font-family: "Noto SansHK", "Ubuntu", serif;
}

.lrt__container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: auto;
}

.etaBox {
  display: flex;
  flex: 1;
  margin: 10px;
  align-items: baseline;
  justify-content: left;
}

.etaBox__row {
  padding-right: 5px;
}

.lrtTrain__length {
  width: 50px;
  padding-left: 5px;
}

.lrt__route {
  padding-right: 10px;
  width: 40px;
}
