.loadingBar {
  padding-top: 5px;
}

.lrt_infoBox {
  width: 85vw;
}

.lrtStn_header {
  display: flex;
  flex: 1;
  background: darkblue;
  color: white;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.lrtStn_hTime {
  padding-right: 5px;
  font-weight: 400 !important;
  font-size: small;
  color: white;
}

.lrtStn_RouteContainer {
  display: flex;
  flex: 1;
}

.lrtStn_Rows {
  padding-bottom: 10px;
}

.lrtStn_RouteRow {
  display: flex;
  flex: 1;
  align-items: center;
}

.lrtStn_RouteNumber {
  font-size: small;
  text-align: center;
  color: white;
  width: 35px !important;
  font-weight: 700;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.lrtStn_RouteDest {
  font-weight: 800 !important;
  font-size: small;
}

.lrtStn_RouteCabs {
  padding-right: 5px;
  width: 50px;
}

.lrtStn_RouteCabs > div {
  font-size: x-small;
}

.lrtCabArray {
  width: 18px;
  height: 12px;
}

.lrtStn_Time {
  width: 80px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
