@import url(//fonts.googleapis.com/css2?family=Noto+Sans+HK&family=Ubuntu);

.mtr {
  display: grid;
  place-items: center;
  height: 100%;
  max-width: 100%;
  font-family: "Noto SansHK", "Ubuntu", serif;
}

.mtr__header {
  margin-top: 5px;
  height: 80px;
  width: 350px;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  place-items: center;
  justify-content: center;
  flex: 1;
  background-color: #000000;
}

.mtr__headerAEL {
  margin-top: 5px;
  height: 80px;
  width: 350px;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  place-items: center;
  justify-content: center;
  flex: 1;
  background-color: #1c7670;
}

.mtr__headerTCL {
  margin-top: 5px;
  height: 80px;
  width: 350px;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  place-items: center;
  justify-content: center;
  flex: 1;
  background-color: #fe7f1d;
}

.mtr__headerWRL {
  margin-top: 5px;
  height: 80px;
  width: 350px;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  place-items: center;
  justify-content: center;
  flex: 1;
  background-color: #a40084;
}

.mtr__headerTKL {
  margin-top: 5px;
  height: 80px;
  width: 350px;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  place-items: center;
  justify-content: center;
  flex: 1;
  background-color: #6b208b;
}

.mtr__headerTML {
  margin-top: 5px;
  height: 80px;
  width: 350px;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  place-items: center;
  justify-content: center;
  flex: 1;
  background-color: #9a3b26;
}

.mtr__title {
  font-weight: 550;
  font-size: large;
  text-align: center;
  color: white;
}

.mtr__Logo {
  margin-right: 20px;
}

.mtr__Logo > img {
  height: 70px;
}

.mtr__functionBar {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 350px;
  max-width: 100%;
}
.container {
  display: grid;
  place-items: center;
  max-width: 500px;
  max-width: 100%;
}

.lineSelect {
  width: 50% !important;
}

.stationSelect {
  width: 50%;
}

.mtr__info {
  padding-top: 10px;
}
