.mtrbusinfo {
  display: grid;
  place-items: center;
  height: 100%;
  max-width: 100%;
  font-family: "Noto SansHK", "Ubuntu", serif;
}

.mtrBusInfoContainer {
  padding: 5px;
  width: 350px;
  max-width: 100%;
  align-items: center;
  justify-content: left;
}

.mtrBusInfoContainer > .MuiLinearProgress-root {
  height: 10px;
  width: 100%;
}

.mtrBusInfoHeader {
  display: flex;
  flex: 1;
  margin-bottom: 10px;
  width: 98%;
  border-style: solid;
  border-color: navy;
  border-width: 3px;
  margin: auto;
}

.mtrBusInfo_busNumber {
  color: white;
  background: navy;
  padding: 5px;
  align-content: center;
  text-align: center;
}

.mtrBusInfo_busRoute {
  color: navy;
  background: white;
  padding: 5px;
  align-content: center;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.mtrBusInfo_routeStatusRemarkTitle {
  text-align: center;
  background: #f8bd3b;
  color: #04254f;
  width: 100%;
  margin: auto;
  font-weight: 700;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.mtrBusInfo_routeStatusRemarkContent {
  width: 100%;
  font-weight: 400;
  font-size: small;
  white-space: pre-line;
  vertical-align: bottom;
}

.mtrBusInfo_routeStatusTime {
  width: 100%;
  text-align: center;
  font-weight: 300 !important;
  font-size: small;
  background: navy;
  color: white;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.mtrBusInfo_footerRemarks {
  width: 100%;
  text-align: center;
  font-weight: 300 !important;
  font-size: small;
  background: navy;
  color: white;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.mtrBusInfoRow {
  display: block;
  margin: auto;
  padding-top: 3px;
  padding-bottom: 3px;
}

.mtrBusInfo_ETABox {
  margin-bottom: 5px;
  width: 98%;
  margin: auto;
}

.mtrBusInfo_BusETA {
  display: flex;
  flex: 1;
  padding-bottom: 3px;
}

.mtrBusInfo_ETABox > .MuiAccordion-root {
  background: seashell;
  color: navy !important;
}

.mtrBusInfo_ETABoxContainer {
  background: white !important;
  min-height: 50px;
  padding-top: 5px;
  margin-top: -15px;
  padding-bottom: 5px;
  padding-right: 3px;
  padding-left: 3px;
}

.mtrBusInfo_busStopConnectionsEtaPanel {
  padding: 3px;
  margin-bottom: 5px;
  background: moccasin;
}

.mtrBusInfo_busStop > span {
  padding-left: 5px;
  font-size: small;
  font-weight: 300;
}

.mtrBusInfo_busStopConnections {
  display: flex;
  flex: 1;
  padding-left: 5px;
  height: 24px;
}

.mtrBusInfo_BusETA_BusTime {
  text-align: right;
  font-size: small;
}
.mtrBusInfo_BusETA_BusSch {
  font-size: xx-small;
  font-weight: 300;
  font-style: italic;
  padding-left: 5px;
  overflow: hidden;
}

.mtrBusDialogBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mtrBusDialogBox > div {
  margin: auto;
}

.mapPopup {
  width: 30vw;
}
