.infobox {
  width: 360px;
  height: 100%;
}

.etaBox {
  display: flex;
  flex: 1;
  padding: 5px;
  align-items: center;
  justify-content: left;
}

.mtrstation__header {
  width: 100%;
  height: 30px;
  display: flex;
  place-items: center;
  background-color: #005da0;
}

.mtrstation__headerTCL {
  background-color: #fe7f1d;
  width: 100%;
  height: 30px;
  display: flex;
  place-items: center;
}

.mtrstation__headerTKL {
  background-color: #6b208b;
  width: 100%;
  height: 30px;
  display: flex;
  place-items: center;
}
.mtrstation__headerAEL {
  background-color: #1c7670;
  width: 100%;
  height: 30px;
  display: flex;
  place-items: center;
}
.mtrstation__headerWRL {
  background-color: #a40084;
  width: 100%;
  height: 30px;
  display: flex;
  place-items: center;
}

.mtrstation__headerTML {
  background-color: #9a3b26;
  width: 100%;
  height: 30px;
  display: flex;
  place-items: center;
}

.mtrstation__headerEAL {
  background-color: #5eb6e4;
  width: 100%;
  height: 30px;
  display: flex;
  place-items: center;
}


.station__name {
  margin-left: 15px;
  margin-right: 5px;
  font-weight: 500 !important;
  color: white !important;
  text-align: center;
  white-space: nowrap;
  overflow: -moz-hidden-unscrollable;
}

.header__line {
  color: white;
  font-size: smaller;
  margin-left: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.mtr__dest {
  margin-left: 10px;
  font-weight: 500 !important;
}

.mtr__plat {
  margin-right: 20px;
}

.mtr__platAEL {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background-color: #1c7670;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-weight: 500 !important;
}

.mtr__platTCL {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background-color: #fe7f1d;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-weight: 500 !important;
}

.mtr__platTKL {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background-color: #6b208b;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-weight: 500 !important;
}

.mtr__platTML {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background-color: #9a3b26;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-weight: 500 !important;
}

.mtr__time {
  font-weight: 500 !important;
  width: 75px;
  text-align: right;
}

.etaBox__mtrfooter {
  font-weight: 300;
  font-size: small;
  background: #005da0;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
