.mtrRouteMap {
  justify-items: center;
  align-items: center;
  font-family: "Noto Sans HK", sans-serif;
}

.routeTitle {
  padding-top: 10px;
  text-align: center;
  font-weight: 450;
  font-size: larger;
}

.routeInterChangeRows {
  display: flex;
  flex: 1;
}

.routeInterChangeRoute {
  font-size: smaller;
  white-space:pre-line;
}
