.mtrStatus_Container {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.mtrStatus_BannerRow > span {
  color: white !important;
}

.mtrStatus_Rows {
  display: flex;
}

.mtrStatus_Line {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 500;
  min-width: 100px;
  flex: 2;
}

.mtrStatus_StatusIcon {
  margin: auto;
  padding-left: 3px;
  white-space: nowrap;
}

.mtrStatus_Status {
  flex: 5;
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

.mtrStatus_DetailBtn {
  flex: 1;
  justify-self: end;
}

.mtrStatus_DetailBtn > .MuiButton-root {
  white-space: nowrap;
}

.mtrStatus_Footer {
  background: white;
  position: static;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 15px;
  text-align: center;
  font-size: small;
  padding-top: 15px;
}

.mtrBlankStatus {
  width: 100%;
  padding-top: 5px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.mtrBlankStatus_circle {
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

.mtrBlankStatus_text {
  font-weight: 300;
  font-size: smaller;
  margin-left: auto;
  margin-right: auto;
  flex: 2;
}
