.mtrStatus_Container {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.mtrStatus_Rows {
  display: flex;
}

.mtrStatus_Line {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 500;
  min-width: 100px;
  flex: 2;
  margin: auto;
}

.mtrStatus_StatusIcon {
  margin: auto;
  padding-left: 3px;
  white-space: nowrap;
}

.mtrStatus_Status {
  flex: 5;
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

.mtrStatus_DetailBtn {
  flex: 2;
}
