.controlBtns {
  z-index: 1;
  padding-top: 10px;
  padding-left: 25px;
}

.saveStnTabs {
  padding: 10px;
}

.MuiAccordionDetails-root {
  display: grid;
}

.saveStations_BlankContainer {
  padding-top: 10px;
  flex: 1;
  justify-content: center;
}

.saveStations_BlankHeading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
  font-weight: 300;
}
