.saveStnETA {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Noto Sans HK", sans-serif;
}

.saveStnETA::-webkit-scrollbar {
  display: none;
}

.saveStnBoxRow {
  display: flex;
}

.saveStnBox_To {
  padding-right: 5px;
  padding-bottom: 10px;
  font-weight: 800 !important;
  text-overflow: ellipsis;
}

.trainArrowBox {
  position: relative;
  top: 10px;
  left: -10px;
}

.loadingBar {
  padding-top: 5px;
}

.header__time {
  font-size: small;
  color: white;
  margin-right: 5px;
}

.saveStnBoxTime,
.saveStnBoxTime > Blink {
  font-weight: 400 !important;
}
