.saveStnETA {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  white-space: nowrap;
  overflow: scroll;
  position: relative;
}
.saveStnBox {
  padding-right: 3px;
}

.saveStnBoxRow {
  display: flex;
}

.saveStnBox_To {
  padding-right: 4px;
  padding-bottom: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
}

.saveStnBoxTime {
  position: absolute;
  font-weight: 300;
  bottom: 0;
}
