.settings,
.settingPart {
  justify-content: center;
  padding: 10px;
}

.settingHeading {
  font-size: large;
  font-weight: 800;
  padding-bottom: 5px;
}

.settingRow {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-bottom: 8px;
}

.saveStnLine {
  flex: 1;
  font-weight: 500 !important;
  color: white;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.saveStnDetails {
  font-size: small;
  padding-left: 5px;
}

.saveStnActions {
  justify-content: flex-end;
  padding-right: 5px;
}

.saveStnActions > .MuiButton-root {
  font-size: x-small;
  white-space: nowrap;
}

.saveStnDetails > .MuiChip-root {
  margin-right: 3px;
  margin-bottom: 3px;
}

.settingRowTicker {
  white-space: nowrap;
  padding-right: 5px;
}

.settingFooter {
  height: 5vh;
}
